go.sum
vendor/
generated/
bin/
etc/config.yml

.git-credentials
.vscode/

# Serverless directories
.serverless

# Serverless directories
.serverless

# node_modules directories Serverless
node_modules

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out